@use "variables" as *;

$width-mob: 980px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin isMobile {
  @media (max-width: $width-mob) {
    @content;
  }
}

@mixin isDesktop {
  @media (min-width: $width-mob) {
    @content;
  }
}

html {
  font-size: 2.125vw;
  scroll-padding-top: 4rem;
  @include isDesktop {
    font-size: 0.54vw;
  }
}

body {
  font: 400 185%/1.4 "Cormorant Garamond", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

h2 {
  font: "Cormorant_Garamond", sans-serif;
  letter-spacing: -0.0075em;
  color: $bg-color-2;
  font-weight: 700;
  font-size: $font-xl;
  line-height: 1;
  text-transform: uppercase;
margin-bottom: 2rem;
@include isMobile{
  font-size: $font-l;
}
}

h3 {
  font-size: $font-l;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1rem;
}

h4{
  font-size: $font-m;
  padding: 1rem 0;
 }

p + p {
  margin-top: 2rem;
  
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-cl {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  // margin-top: 2rem;
}

.container {
  width: 75%;
}

.container-2 {
  width: 60%;
}

.container,
.container-2 {
  margin-left: auto;
  margin-right: auto;
  @include isMobile {
    width: 90%;
  }
}

.section {
  padding: 2rem 0;
  
}