$width-mob: 980px;

$bg-color: #f8f8f8;
$bg-color-2: #03031b;
$bg-color-3: #2c2c38;
$bg-color-4: #fff;
$bg-color-5: #1a1a22;

$brand-color: #022492;

$accent-color: #fbfaf9;
$accent-color-2: #40a0ea;

$primary-text: #0a0908;
$secondary-text: black;
$title-text: #c1bebe;

$font-xs: 1.6rem;
$font-s: 1.8rem;
$font-m: 2.8rem;
$font-l: 3.4rem;
$font-xl: 5rem;


$bg-gradient: linear-gradient(180deg, $bg-color-3 0%, $bg-color-5 100%);
$border-radius: .45rem;
